& .row {
    display: flex;
    padding: 10px;

    & .answer {
        width: 15%;
    }

    & .question {
        flex: 1;
        font-weight: 700;
    }

    & .comment {
        width: calc(100% - 30px);
        border: none;
        margin-top: 10px;
        min-height: 50px;
        padding: 15px;
    }

    & .checkedAnswer {
        display: none;
    }
}